<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>New lead request from spiborescopes.com !</h5>
      <table>
      <tr>
        <td>Name:</td>
        <td><%= @lead.name %> </br></td>
      </tr>
      <tr>
        <td>Email: </td>
        <td><%= @lead.email %></br></td>
      </tr>
      <tr>
        <td>Phone: </td>
        <td><%= @lead.phone %></br></td>
      </tr>
      <tr>
        <td>Company: </td>
        <td><%= @lead.company %></br></td>
      </tr>
      <tr>
        <td>Profile Link: </td>
        <td>Coming Soon!</br></td>
      </tr>
    </table>
  </body>
</html>
