<div class="chip">
    <a href="/inspection-camera/mechanical-articulating/video-borescope/mc1-series" class="font-blue"  target="_blank">MC1 SERIES</a>
</div>
<div class="chip">
    <a href="/inspection-camera/pipe-inspection/digital-video-borescope/jcm-series" class="font-blue"  target="_blank">JCM SERIES</a>
</div>
<div class="chip">
    <a href="/inspection-camera/articulating/video-borescope/dg1-series"  class="font-blue" target="_blank">DG1 SERIES</a>
</div>
<div class="chip">
    <a href="/inspection-camera/micro-camera/video-borescope/ultrathin-series" class="font-blue"  target="_blank">ULTRA THIN SERIES</a>
</div>
