<ul class="key-features yellow-list">
   <li class="flow-text ">Image, Video, & Audio Recording | Plus 5X Zoom</li>
   <li class="flow-text ">8GB Removable SD Card Memory & USB Connectivity</li>
   <li class="flow-text">4mm & 6mm Insertion Tube Diameters</li>
   <li class="flow-text">1.5 Meter & 3.0 Meter Insertion Tube Length</li>
</ul>
