<ul class="key-features yellow-list" >
   <li class="flow-text">
4-way | 360 Remotely Controlled Pipe Camera Articulation</li>

    <li class="flow-text">30 Meter (100 ft) Length x 5.5mm Diameter Pipe Camera</li>

    <li class="flow-text">2-way Articulating Video Borescope Attachment</li>

    <li class="flow-text">8mm Diameters x 1.5 or 3.0 Meter Length Borescope
Attachment</li>

    <li class="flow-text">All Parts Included & Designed For Ease of Use. </li>
