<ul class="key-features yellow-list" >
   <li class="flow-text">7.5” High Resolution LCD Monitor</li>

    <li class="flow-text">Intelligent Image, Video and Audio Capture Functions</li>

    <li class="flow-text">4 Hour Rechargeable & Replaceable Independent
 Lithium-Ion Battery</li>

    <li class="flow-text">8GB Removable SD Card | USB Connectivity</li>
    </ul>
