<ul class="key-features yellow-list" >
   <li class="flow-text">4 Hour Rechargeable & Replaceable Independent
 Lithium-Ion Battery</li>

    <li class="flow-text">Ultra Durable Tungsten Braided Insertion Tube</li>

    <li class="flow-text">Wi-Fi Image Transfer, 8GB Removable SD Card &
 USB Connectivity</li>

    <li class="flow-text">4mm & 8mm Insertion Tube Diameters</li>

    <li class="flow-text">1.5 Meter, 3.0 Meter, & 6.0 Meter Insertion Tube Lengths</li>
</ul>
