<ul class="key-features yellow-list" >
   <li class="flow-text">4-way | 360 Motor-Driven Articulation</li>

   <li class="flow-text">4.3” High Resolution Solid State LCD Monitor</li>

   <li class="flow-text">High-End Medical Grade, Micro Digital Camera & 6 High
Intensity LEDs</li>

   <li class="flow-text">Intelligent Image, Video and Audio Capture functions |
Interchangeable Tips | 3X Zoom</li>
</ul>
