

   SIDE VIEW MIRROR TIP

<ul class="key-features yellow-list" >
     <li class="flow-text">100mm (including handle section for 20mm)</li>

     <li class="flow-text">Extendable Up To 300mm</li>

     <li class="flow-text">Simply Attach To Camera Probe To See Side View</li>

   </ul >

       STRAIGHT VIEW RIGID TIP



<ul class="key-features yellow-list" >
            <li class="flow-text">
                         100mm</li>

     <li class="flow-text">Extendable Up To 300mm</li>

     <li class="flow-text">Simply Attach To Camera Probe and Work As Rigid
   Borescope</li>
