<ul class="key-features yellow-list" >
   <li class="flow-text">Diameter 1.8mm</li>
   <li class="flow-text">3.5” Monitor Connection Type</li>
   <li class="flow-text">High-Resolution Imaging Sensor Type Industrial Borescope
That Does Not Use Fibers</li>
   <li class="flow-text">Simple Functions Mean it Can Be Used in Any Situation</li>
</ul>
