<ul class="key-features yellow-list" >
   <li class="flow-text">4-way | 360 Power-Glide Articulation</li>
   <li class="flow-text">3.5” High Resolution Solid State LCD Monitor</li>
   <li class="flow-text">High-End Medical Grade, Micro Digital Camera</li>
   <li class="flow-text">Image, Video and Audio Capture Functions</li>
   <li class="flow-text">Magnetic Base, Screen Flip Function & Precise
Articulation Hold</li>
</ul>
