
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Message Received from SPI Borescopes Contact Form </h4>


  <table align="left" border="1" cellpadding="0" cellspacing="0" width="600">
   <tr>
    <td bgcolor="#70bbd9">
      Name:
    </td>
    <td bgcolor="#ffffff">
       <%= @msg.name %>
    </td>
   </tr>
   <tr>
    <td bgcolor="#70bbd9">

    </td>
    <td bgcolor="#ffffff">

    </td>
   </tr>
   <tr>
    <td bgcolor="#70bbd9">

    </td>
    <td bgcolor="#ffffff">

    </td>
   </tr>
   <tr>
    <td bgcolor="#70bbd9">

    </td>
    <td bgcolor="#ffffff">

    </td>
   </tr>
   <tr>
    <td bgcolor="#70bbd9">

    </td>
    <td bgcolor="#ffffff">

    </td>
   </tr>

  </table>


  </body>
</html>
