@font-face {
  font-family: 'gotham-book';
  src: url(font-path('gotham-book.ttf')) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'gotham-book';
  src: url(font-path('gotham-book-italic.ttf')) format("truetype");
  font-style: italic;
}


@font-face {
  font-family: 'gotham-black';
  src: url(font-path('gotham-black.ttf')) format("truetype");
  font-style: normal;
}

@font-face{
  font-family: 'gotham-black';
  src: url(font-path('gotham-black-italic.ttf')) format("truetype");
  font-style: italic;
}

@font-face{
  font-family: 'gotham-bold';
  src: url(font-path('gotham-bold.ttf')) format("truetype");
  font-style: normal ;
}


@font-face{
  font-family: 'gotham-bold';
  src: url(font-path('gotham-bold-italic.ttf')) format("truetype");
  font-style: italic;
}


@font-face{
  font-family: 'gotham-light';
  src: url(font-path('gotham-light.ttf')) format("truetype");
  font-style: normal ;
}


@font-face{
  font-family: 'gotham-light';
  src: url(font-path('gotham-light-italic.ttf')) format("truetype");
  font-style: italic;
}

@font-face{
  font-family: 'gotham-medium';
  src: url(font-path('gotham-medium.ttf')) format("truetype");
  font-style: normal ;
}


@font-face{
  font-family: 'gotham-medium';
  src: url(font-path('gotham-medium-italic.ttf')) format("truetype");
  font-style: italic;
}


@font-face{
  font-family: 'gotham-thin';
  src: url(font-path('gotham-thin.ttf')) format("truetype");
  font-style: normal ;
}


@font-face{
  font-family: 'gotham-thin';
  src: url(font-path('gotham-thin-italic.ttf')) format("truetype");
  font-style: italic;
}


@font-face{
  font-family: 'gotham-ultra';
  src: url(font-path('gotham-ultra.ttf')) format("truetype");
  font-style: normal ;
}


@font-face{
  font-family: 'gotham-ultra';
  src: url(font-path('gotham-ultra-italic.ttf')) format("truetype");
  font-style: italic;
}


@font-face{
  font-family: 'gotham-x-light';
  src: url(font-path('gotham-x-light.ttf')) format("truetype");
  font-style: normal ;
}



@font-face{
  font-family: 'gotham-x-light';
  src: url(font-path('gotham-x-light-italic.ttf')) format("truetype");
  font-style: italic;
}
