<section id="about-us" >
  <div class="row bk-grey">
  <div class="container">
    <div class="col s12 m12 l12">
       <h2 class="top-header-about">About Us</h2>
        <h1 class="header-about"><span class="font-black">Who Is</span> SPI Borescopes</h1>
          <p class="flow-text">
            <strong>SPI Borescopes & Inspection technology</strong> is a United States based company that 
            serves North America and the international industrial inspection markets.
            SPI specializes in strategic production and distribution of high-quality Remote Visual
            Inspection Tools, such as Borescopes, endoscopes, thermal cameras and more.
            We are here to make your inspection processes more efficient, more effective and
            to put it simply: better.
           </p>
            <a class="btn bc-primary-color bottom-20 waves-effect waves-light button-pages hide-on-small-and-down" href="/inspection-camera/demo" target="_blank">
                 <span>Pricing & Product Catalog</span>
            </a>
            <a class="btn bc-primary-color  waves-effect waves-light button-pages hide-on-med-and-up" href="/inspection-camera/demo" target="_blank">
                 <span>Download Catalog</span>
            </a>
  </div>
 </div>
</div>

<div class="row"  >
    <div class="container">
    <div class="col s12 m12 l12">
      <h2 class="sub-header-about font-yellow">Our Products</h2>
          <p class="flow-text">
      SPI focuses on designing and delivering specialized, precise and innovative remote visual inspection technology to the industrial inspection markets.
      With attention to detail and performance, our line of inspection equipment is in a class of its own.
      Through dedication to our end user, we deliver all of the features you need, with none of the fluff that artificially increases costs.
      We are so confident in our products that we encourage every client to try our tools before they buy.  We are so sure of this we built an entire business around taking the cost, hassle and time out of the demonstration process.  Our products speak for themselves, give them a shot.
         </p>
       <a class="waves-effect waves-light btn products bk-blue" href="/inspection-camera/demo" target="_blank">Demo Now</a>
    </div>
   </div>
</div>

<div class="row bk-grey">
  <div class="container">
    <div class="col s12 m12 l12">
      <h2 class="sub-header-about font-yellow">Our Team</h2>
          <p class="flow-text">
      At SPI Borescopes & Inspection Technology, our mission is to provide our clients with the high-end technology at the best prices in the industry.
      We understand that the price of a scope is not just how much you pay to acquire it, but also includes the cost of ownership, and the time it takes to make
      the decision.  Our team is dedicated to making your buying process as simple as possible through knowledgeable staff and free mail-out demonstrations.
      We are always here to answer questions, provide training, and even streamline any repair or warranty issues, should they ever arise.
       At SPI our goal is not to make a sale, but to develop a long-term mutually beneficial relationship. </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="col s12 m12 l12">
      <h2 class="sub-header-about"><span class="font-blue">Our Industry</span></h2>
          <p class="flow-text">
            During the R&D phase of developing SPI Borescopes & Inspection Technology, it became very clear that the industrial inspection industry was missing products with high end technology at a reasonable price. Today, SPI has solved this issue by providing high-end Borescopes, Articulating Video Borescopes, Thermal Cameras and other industrial inspection equipment with a fair and reasonable price tag. No longer does the industry force the consumer to choose between solid technology at ridiculously high prices or cheap poorly produced toys; now there is a better option.
            Through this process SPI has become a top R&D firm, and our Borescopes have helped companies improve their inspection processes worldwide. No matter what your Visual Inspection needs are, SPI has engineered the right tool for the job. Whether you need Borescopes/endoscopes, thermal cameras, articulation, or other industrial inspection equipment, SPI has the right tool at the right price for you.
         </p>
    </div>
 </div>
 </div>

</section>
