<section id="contact" >
    <div class="row contact">
      <div class="container">
        <div>
              <div class="get-in-touch">Get in Touch </div>
              <div class="sub-get-in-touch">Contact <span class="font-yellow">Spi</span></div>
          </div>
     </div>
  </div>


<div class="row">
     <div class="container">
       <div class="col s12 m12 l6 ">
           <div class="card z-depth-0" >
                   <div class="card-content">
        <h2 class="sub-header-contact"><span class="font-black">Find Us</span></h2>

                     <p class="flow-text">
Let SPI Borescopes helpful consultants answer your questions faster and in more detail NOW <span class="font-blue"><strong>call 1.800.540.7429</strong></span></p>
<br/>
                     <p class="flow-text">
If you have any questions about our company, products or anything else please do not hesitate to contact us!</p>


                  <h2 class="sub-header-contact"><span class="font-yellow">Leave us a message!</span></h2>
                          <%= render 'messages/new' %>
              </div><!-- CONTENT -->
        </div><!-- Card -->
  </div><!-- col -->




    <div class="col s12 m12 l6 ">

             <div class="card"  >

            <div class="card-content">

           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3592.919714095616!2d-80.19211544888459!3d25.773215283551327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b69dc966ff7b%3A0x9e5cbb377f39389c!2s200+SE+1st+St%2C+Miami%2C+FL+33131!5e0!3m2!1sen!2sus!4v1494375217814" style="width:100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

               <div class="chip">
<i class="fa fa-envelope-o" aria-hidden="true"></i>
    Mailing Address
  </div>


               <blockquote> 200 SE 1st Street, Suite 502<br>
               Miami FL 33131<br>
               United States<br></blockquote>
   <div class="chip">
             <i class="fa fa-inbox" aria-hidden="true"></i> Contact Info
                  </div>

               <blockquote> +1 800-540-7429<br>
               FAX: +1 888-871-7597<br>
               info@spiborescopes.com<br></blockquote>

                          <div class="chip">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            Social  </div>

                          <br>      <br>
                        <ul style="display:inline;" class="social-media social-media-contact">
                           <li style="display: inline;margin-right:5px;"><a class="btn-floating waves-effect waves-blue" href="https://www.facebook.com/SPI-Borescopes-1174361382674960" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li style="display: inline;margin-right:5px;"><a class="btn-floating waves-effect waves-blue" href="https://twitter.com/spiborescopes"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li style="display: inline;margin-right:5px;"><a class="btn-floating waves-effect waves-blue" href="https://www.instagram.com/spiborescopes/?hl=en" ><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                           <li style="display: inline;margin-right:5px;"><a class="btn-floating waves-effect waves-blue" href="https://plus.google.com/u/0/102067515274378179410" target="_blank" ><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                           <li style="display: inline;margin-right:5px;"><a class="btn-floating waves-effect waves-blue" href="mailto:info@spiborescopes.com/" ><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                           <li style="display: inline;margin-right:5px;"><a class="btn-floating waves-effect waves-blue" href="https://goo.gl/maps/CEcmKYoNMNm"  ><i class="fa fa-location-arrow bk-blue" aria-hidden="true"></i></a></li>
                       </ul>
              </div>
          </div>
  </div>




</div>
</div>

</section>
