<!-- Start Download Catalog Section-->
<section id="download-catalog"  >
  <div class="row center margin-bottom-zero gradient hide-on-xsmall-and-down" >
    <div class="col s12 m12 l12 catalog-wrap" >
        <span class="header-wrap"><h2 class="header-1" >Pricing and Product Catalog</h2></span>
        <div class="download-technical-specifications-wrap" >
          <%= image_tag('spi-borescopes-product-pricing-catalog.png', :alt => 'TO BE ADDED', :class => 'responsive-img') %>
        </div>
    </div>
  </div>
  <div class="row margin-bottom gradient-download-catalog-form margin-bottom-zero" id="download-catalog-scroll" >
    <div class="col s12 m12 l12"  >
      <div class="container-free-demo">
        <h3 class="header-download">Download Our <span class="font-blue">Product<br/> and Pricing</span> catalog</h3>
        <div class="row" >
          <%= render 'leads/form_demo',  lead: @lead %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Download Catalog Section-->
