<!-- Start SPI Products Section -->
<section id="faq" >
    <div class="row faq">
      <div class="container">
        <div >
            <div class="faq">faq</div>
            <div class="sub-faq">Frequently Asked Questions</div>
          </div>
     </div>
  </div>
<div class="row">
  <div class="col s12 m12 l12 clear-padding">
       <div class="container">
<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">Does SPI Borescopes come in different lengths? How long can they be made?</div>
    <div class="collapsible-body"><p>The SPI-Flex Series and Specialty Series Scopes are available in sizes up to 100 meters (328 feet). The SPI-AVB Articulating Video Borescopes are available in sizes from 1 meter to 4 meters in length (3.28′ – 13.12′ Feet).</p></div>
  </li>
  <li>
    <div class="collapsible-header">Are they waterproof?</div>
    <div class="collapsible-body"><p>All SPI Borescopes are drip and splash proof. The SPI-WPB (Water-Proof Borescope), SPI-PLB (Pipe and Pipe Line Borescope) and the SPI-HPB (Heat-Proof Borescope) are all waterproof.</p></div>
  </li>
  <li>
    <div class="collapsible-header">What is a safe temperature range to operate SPI Borescopes in?</div>
    <div class="collapsible-body"><p>The SPI-HPB (Heat-Proof Borescope) can operate in temperatures up to 250°C (480°F). All others should be used in the average operating temperature range. Ask a consultant for details.</p></div>
  </li>
  <li>
    <div class="collapsible-header">How do I decide the right length for my inspection?</div>
    <div class="collapsible-body"><p>
      SPI Borescopes produces several types of scopes. The most efficient and reliable way to evaluate which scope is best for your inspection is to speak to one of our knowledgeable consultants. They will help you find the right scope in 3 minutes or less.</br>
      Some questions and phrases to help you choose the right scope include:
  <ul class="key-features yellow-list" >
      <li>Describe your desired inspection</li>
      <li> Do you need articulation? </li>
      <li>How far is your insertion point from your target area? </li>
      <li>How wide is the diameter of the insertion point? </li>
      <li>What is your operating temperature range?</li>
      <li>Does your scope need to be waterproof? </li>
    </ul>
   </p>
</div>
  </li>
  <li>
    <div class="collapsible-header">Does the scope have a measurement function?</div>
    <div class="collapsible-body"><p>No. While some very high-end Borescopes offer a measurement function, most Borescope users have often found the function unnecessary and unreliable. As a result, we at SPI Borescopes decided to make the best possible scope, with only the most necessary features, at incredibly affordable prices.</p></div>
  </li>
  <li>
    <div class="collapsible-header">How does SPI Borescopes compare with less expensive scopes on the market?</div>
    <div class="collapsible-body"><p>There are few low-end Borescopes on the market with price points between $200 and $500.  These are typically very simple Borescopes.  They do not offer articulation and often have very poor picture quality.  We suggest you try one and compare.  For a little more money our scopes provide significantly higher quality and features.</p></div>
  </li>
  <li>
    <div class="collapsible-header">How does SPI Borescopes compare with higher end scopes on the market?</div>
    <div class="collapsible-body"><p>The Borescope market has traditionally been controlled by a handful of giant medical device and manufacturing companies. These companies used technology originally developed for the medical market and slightly modified this technology for the industrial inspection industry.
While this process has led to innovative technologies, it is also the cause of the hyper -inflated pricing common to this industry. Over the last few years we have seen more and more mid-level firms entering the market, taking the average Articulating Borescope prices down from the 20K-50K price range to the low 10’s of thousands. SPI Borescopes now offers a better solution. We bring you all the high-end technology you need, but at a fraction of the price other new mid-level firms are offering. Give us a call and learn more about our extremely competitive prices.</p>
  </li>
  <li>
    <div class="collapsible-header">Do you have side view attachments?</div>
    <div class="collapsible-body"><p>Yes.  The SPI-FLEX Series scopes have side view attachments available, and the SPI-AVB Articulating Video Borescopes have side view mirror options available.</p></div>
  </li>
  <li>
    <div class="collapsible-header">Does SPI Borescopes have a Warranty?</div>
    <div class="collapsible-body"><p>Yes. Call or See brochure for details.</p></div>
  </li>
  <li>
    <div class="collapsible-header">How long do the batteries last?</div>
    <div class="collapsible-body"><p>Each scope is different, however the average battery life is approximately 2.5 hours.</p></div>
  </li>
</ul>
</div>
</div>
</div>

</section>
