
        <footer class="page-footer gray">
          <div class="container">
            <div class="row margin-bottom-zero">
              <div class="col s12 m12 l4 hide-on-xsmall-and-down">
                 <p class="uppercase footer-title font-yellow" >SPI Borescopes</p>
                 <!-- <p class="uppercase white-text  footer-thin" style="font-size:32px;">
                   <span class="highlight">Find</span> the right tool <br>for your inspection</p> -->
                 <p class="white-text flow-text f16">
                   <strong>SPI Borescopes & Inspection technology</strong> is a United States based company that serves North America and the international industrial inspection markets. SPI specializes in strategic production and distribution of high-quality Remote Visual Inspection Tools, such as Borescopes, endoscopes, thermal cameras and more. We are here to make your inspection processes more efficient, more effective and to put it simply: better.
                 </p>
              </div>
              <div class="col s12 m12 l4" style="padding-left: 4%;">
                <p class="white-text uppercase footer-title" >Contact Info</p>
                  <address>
                     <p class="left-align grey-text nap flow-text  f16">
                     SPI Borescopes<br>
                     200 SE 1st Street, Suite 502<br>
                     Miami, FL 33131<br>
                     <br>
                     800-540-7429<br>
                     <a href="mailto:info@spiborescopes.com" class="grey-text" >info@spiborescopes.com</a><br>
                     FAX: 888-871-7597</p>
                  </address>
              </div>
              <div class="col s12 m12 l4 hide-on-xsmall-and-down" style="margin:0 auto;">
                 <p class="white-text uppercase footer-title">Payment Options</p>
                 <%= image_tag("financing-footer.png", :size => "250×169", :alt => "TO BE ADDED", :class =>"financing-footer") %>
                 <p class="yellow-text center-align  financing flow-text" style="margin-bottom:-10px">Financing Available<br>Rent / Lease Options</p>
              </div>
            </div>
          </div>

          <div class="footer-copyright">
            <div class="container">
              <div class="social-media" style="margin-top: 50px;display:inline;">
                 <ul style="display:inline;">
                    <li style="display: inline;margin-right:7px;"><a class="btn-floating waves-effect waves-blue" href="https://www.facebook.com/SPI-Borescopes-1174361382674960" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li style="display: inline;margin-right:7px;"><a class="btn-floating waves-effect waves-blue" href="https://twitter.com/SPIBorescopes" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <!-- <li style="display: inline;margin-right:7px;"><a class="btn-floating waves-effect waves-blue" href="https://www.linkedin.com/in/wagnermike/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li> -->
                    <li style="display: inline;margin-right:7px;"><a class="btn-floating waves-effect waves-blue" href="https://www.instagram.com/spiborescopes/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li style="display: inline;margin-right:7px;"><a class="btn-floating waves-effect waves-blue" href="https://plus.google.com/u/0/102067515274378179410" target="_blank" ><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li style="display: inline;margin-right:7px;"><a class="btn-floating waves-effect waves-blue" href="mailto:info@spiborescopes.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                </ul>
              </div>
              <p style="float:right;font-family:'gotham-thin';" class="grey-text" >Copyright © 2013-2017  SPI Borescopes., Inc.® All rights reserved | <a href="/inspection-camera/nav-map" target="_blank" class="grey-text" >Nav Map</a></p>



            </div>
          </div>
      </footer>
