<!-- Starts Container Header -->
<div class="container-header" >
  <div class="navbar-fixed" >
    <!-- Starts Nav bar -->
    <nav  class="nav-extended z-depth-0" >
      <div class="nav-wrapper">
        <div class="button-collapse-wrap">
          <a href="#!" data-activates="nav-mobile" class="button-collapse font-blue">
            <i class="fa fa-bars" aria-hidden="true" ></i>
          </a>
          <div class="mainLogo-wrap" >
            <a href="/" target="_self" class=" brand-logo">
                <%= image_tag('spi-borescopes-logo.png', :alt => 'TO BE ADDED') %>
            </a>
            </div>
            <div class="tinyLogo-wrap" >
              <a href="/" target="_self" class="tiny-logo">
                <%= image_tag('spi-borescopes-tiny-logo.png', :alt => 'TO BE ADDED') %>
              </a>
            </div>
          </div>
          <div class="phone-number right" >
            <p>1.800.540.7429 <a class="btn-floating waves-effect waves-light bk-yellow z-depth-0" href="tel:8005407429"><i class="material-icons icon-yellow">phone</i></a></p>
          </div>
         <!-- Starts Main Menu -->
          <ul class="nav-mobile  hide-on-med-and-down top-menu">
              <li><a  href="/"><span>Home<span></a></li>
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1">About Us<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a class="dropdown-button" href="#!" data-activates="products">Products<i class="material-icons right">arrow_drop_down</i></a></li>
              <li ><a  href="/inspection-camera/demo"><span>Demo</span></a></li>
              <li ><a  href="/inspection-camera/contact"><span>Contact</span></a></li>
            </ul>
            <!-- Ends Main Menu -->
          </div>
        </nav>
        <!-- Ends Nav bar -->
        <!-- Start Drop Down:About Us -->
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="/inspection-camera/about">About Us</a></li>
          <li class="divider"></li>
          <li><a href="/inspection-camera/faq">FAQ</a></li>
          <li><a href="/inspection-camera/warranty">Warranty</a></li>
          <!-- <li><a href="/inspection-camera/testimonials">Testimonial</a></li> -->
          <li><a href="/inspection-camera/pricing">Pricing</a></li>
        </ul>
        <!-- Ends Drop Down:About Us -->
        <!-- Start Drop Down:Products -->
        <ul id="products" class="dropdown-content">
          <li><a href="/inspection-camera/products">Product</a></li>
          <li class="divider"></li>
          <li><a href="/inspection-camera/articulating/video-borescope/x1-series">X1 Series</a></li>
          <li><a href="/inspection-camera/mechanical-articulating/video-borescope/mc1-series">MC1 Series</a></li>
          <li><a href="/inspection-camera/pipe-inspection/digital-video-borescope/jcm-series">JCM Series</a></li>
          <li><a href="/inspection-camera/articulating/video-borescope/dg1-series">DG1 Series</a></li>
          <li><a href="/inspection-camera/micro-camera/video-borescope/ultrathin-series">Ultra Thin</a></li>
        </ul>
        <!-- Ends Drop Down:Products -->
      </div>
  </div>
  <!-- Ends Container Header -->
