<!-- Starts Side Nav -->
<ul id="nav-mobile" class="side-nav" >

  <li><a  href="/"><span>Home<span></a></li>

  <li><a class="waves-effect"  href="/inspection-camera/about">About Us</a></li>
  <li class="divider"></li>
  <li><a href="/inspection-camera/faq"><i class="material-icons">chevron_right</i>FAQ</a></li>
  <li><a href="/inspection-camera/warranty"><i class="material-icons">chevron_right</i>Warranty</a></li>
  <li><a href="/inspection-camera/testimonials"><i class="material-icons">chevron_right</i>Testimonial</a></li>
  <li><a href="/inspection-camera/pricing"><i class="material-icons">chevron_right</i>Pricing</a></li>

  <li><a  class="waves-effect" href="/inspection-camera/products">Products</a></li>
  <li class="divider"></li>
  <li><a class="waves-effect" href="/inspection-camera/articulating/video-borescope/x1-series"><i class="material-icons">chevron_right</i>X1 Series</a></li>
  <li><a  class="waves-effect" href="/inspection-camera/mechanical-articulating/video-borescope/mc1-series"><i class="material-icons">chevron_right</i>MC1 Series</a></li>
  <li><a  class="waves-effect" href="/inspection-camera/pipe-inspection/digital-video-borescope/jcm-series"><i class="material-icons">chevron_right</i>JCM Series</a></li>
  <li><a  class="waves-effect" href="/inspection-camera/articulating/video-borescope/dg1-series"><i class="material-icons">chevron_right</i>DG1 Series</a></li>
  <li><a  class="waves-effect" href="/inspection-camera/micro-camera/video-borescope/ultrathin-series"><i class="material-icons">chevron_right</i>Ultra Thin</a></li>

  <li ><a  href="/inspection-camera/demo"><span>Demo Now</span></a></li>
  <li ><a  href="/inspection-camera/contact"><span>Contact Us</span></a></li>

</ul>
<!-- End Side Nav -->
