<!-- Start SPI Prodicts Section -->
<section id="spi-products">
 <div class="container-spi-products">
    <div class="row  clear-50">
      <div class="col s12 m12 l12 hide-on-med-and-up spi-col"   >
        <a class="waves-effect waves-light btn more-products-small-screen" target="_blank"   href="/inspection-camera">More Products <i class="material-icons">keyboard_arrow_right</i></a>
      </div>
      <div class="col s12 m12 l12 spi-col"   >
        <span class="header-wrap"><h2 class="header-1">SPI Products</h2></span>
        <div class="more-products-wrap hide-on-small-and-down" >
        <a class="waves-effect waves-light btn more-products" target="_blank"   href="/inspection-camera">More Products <i class="material-icons">keyboard_arrow_right</i></a>
        </div>
      </div>
      <div class="col s12 m12 l4">
        <div class="card z-depth-0 card-hover" >
          <div class="card-image waves-effect waves-block  waves-lightt  spi-card">
            <%= image_tag('x1-series-spi-borescopes.png', :alt => 'TO BE ADDED', :class => 'activator') %>
          </div>
          <div class="card-content spi">
            <h3 class="header-product-catalog">X1 Series</h3>
            <span class="card-title activator grey-text text-darken-4 spi-title">Articulating Borescope</span>
          </div>
          <div class="card-action learn-more">
            <a class="waves-effect waves-light btn home"  href="/inspection-camera/articulating/video-borescope/x1-series">Learn More </a>
          </div>
          <!-- <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div> -->
        </div>
      </div>

      <div class="col s12 m12 l4">
        <div class="card z-depth-0 card-hover" >
          <div class="card-image waves-effect waves-block  waves-lightt  spi-card">
            <%= image_tag('mc1-series-spi-borescopes.png', :alt => 'TO BE ADDED', :class => 'activator') %>
          </div>
          <div class="card-content spi">
            <h3 class="header-product-catalog">MC1 Series</h3>
            <span class="card-title activator grey-text text-darken-4 spi-title">Mechanical Articulation</span>
          </div>
          <div class="card-action learn-more">
             <a class="waves-effect waves-light btn bk-yellow home"   href="/inspection-camera/mechanical-articulating/video-borescope/mc1-series">Learn More </a>
          </div>
          <!-- <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div> -->
        </div>
      </div>

      <div class="col s12 m12 l4">
        <div class="card z-depth-0 card-hover" >
          <div class="card-image waves-effect waves-block  waves-lightt  spi-card-large">
            <%= image_tag('jmc-3000-series-pipe-inspection-system-products.png', :alt => 'TO BE ADDED', :class => 'activator') %>
          </div>
          <div class="card-content spi">
            <h3 class="header-product-catalog">JCM Series</h3>
            <span class="card-title activator grey-text text-darken-4 spi-title">Pipe Inspection System</span>
          </div>
          <div class="card-action learn-more">
                      <a class="waves-effect waves-light btn bk-yellow home"   href="/inspection-camera/pipe-inspection/digital-video-borescope/jcm-series">Learn More </a>
          </div>
          <!-- <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div> -->
        </div>
      </div>
    </div>
 </div> 
</section>
<!-- End SPI Prodicts Section -->
