<!-- Start Testimonial Section-->
<section id="testimonial" class="dark-yellow">
  <div class="container">
    <div class="row margin-bottom-zero"  >
      <div class="col s12 m12 l12">
        <h2 class="header-dark-yellow">Testimonials</h2>

        <div class="carousel carousel-slider center"  data-indicators="true">
           <div class="carousel-fixed-item center"></div>

            <div class="carousel-item  white-text" href="#one!">
              <div class="quotes-testimonial" style="float:left;" ><%= image_tag('quotes.png', :size => "91x85",:alt => 'TO BE ADDED') %></div>
                <p class="white-text testimonial">We needed a borescope with the <span class="bold">excellent resolution. The DG1 worked perfectly!</span><br>-Energy servcies provider</p>
            </div>

            <div class="carousel-item white-text" href="#two!">
              <div class="quotes-testimonial" style="float:left;" ><%= image_tag('quotes.png', :size => "91x85",:alt => 'TO BE ADDED') %></div>
               <p class="white-text testimonial">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy <br>-text ever since the 1500s</p>
            </div>

            <div class="carousel-item white-text" href="#three!">
              <div class="quotes-testimonial" style="float:left;" ><%= image_tag('quotes.png', :size => "91x85",:alt => 'TO BE ADDED') %></div>
               <p class="white-text testimonial">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy <br>-text ever since the 1500s</p>
           </div>
          </div>

      </div>
    </div>
  </div>
</section>
<!-- Start Testimonial Section-->
